@charset "UTF-8";

a.subject_link:link {text-decoration: none; color: black;}
a.subject_link:visited {text-decoration: none; color: gray;}
a.subject_link:active {text-decoration: none; color: black;}
a.subject_link:hover {text-decoration: underline; color: black;}

.content_list{
	width: 100%;
	background-color: black;
	/* position:relative; */
}
.content_layout_top{
	border: 1px solid;
	border-collapse: collapse;
}
.content_layout_top td{
	background: #f7f7f7;
	font-size:10pt;
	border-collapse: collapse;
	text-align: center;
}

.content_layout_middle {
	border: 1px solid;
	border-collapse: collapse;
}
.content_layout_middle td{
	font-size:10pt;
}

.list_1{
	width: 50px;
	text-align: center;
}

.list_2{
	width: 90px;
	text-align: center;
	padding-left: 20px;
}

.list_3{
	width: 480px;
	text-align: left;
}

.list_4{
	width: 150px;
	text-align: center;
}

.list_5{
	width: 50px;
	text-align: center;
}
.list_6{
	width: 50px;
	text-align: center;
}

.view_main{
	border-top: 2px solid;
	background: #f7f7f7;
	padding: 5px;
	font-family: bold;
	font-size: 10pt;
}
.view_info{
	border-top: 1px solid;
	border-color: #eaeaea;
	padding: 5px;
	font-size: 9pt;
}
.view_info span{
	padding-right: 15px;
}
.view_content{
	border: 2px solid;
	border-color: #eaeaea;
	padding: 15px;
	font-size: 9pt;
}